@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
// @import url('https://unpkg.com/vuetify/dist/vuetify.min.css');
@import '../node_modules/vuetify/dist/vuetify.min.css';

[v-cloak] {display: none;}

.icon.rotate-45 {
	transform: rotate(135deg);
}

.discord-btn {
    background-color: #7289da !important;
    border-color: #7289da !important;
}

.btn {
	&.discord-btn {
		color: white !important;
	}

	.discord-logo-icon {
		height: 100%;
	}
}

.searchPage {
	.search-item {			
		.card__media {
			.card__media__background:before {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 80%);
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 80%);
			}

			.play-overlay {
				opacity: 0;
				visibility: hidden;
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    background: rgba(0,0,0,0.65);
			    font-size: 20px;
			    transition: 0.3s;
			}

			&:hover .play-overlay {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.list-item {
	transition: all 0.3s;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	&:last-child {
		border-bottom: none;
	}

	&.sortable-ghost {
		border: 1px dashed #82b1ff;
		background: rgba(130, 177, 255, 0.10196078431372549);

		.list__tile {
			opacity: 0;
		}
	}
}

.list-complete-enter, .list-complete-leave-active {
	opacity: 0;
}

.list__tile__avatar.guildIcon {
	min-width: 46px;
}