<template>
  <v-layout>
    <v-flex xs12>
        <div class="headline mb-2">Менеджер плейлистов</div>        
        <v-layout row align-content-start>
          <v-flex xs12>
            <v-card class="card--flex-toolbar">
              <v-toolbar dense card prominent class="blue white--text">
                <v-toolbar-side-icon v-if="selectedPlayList" @click="selectedPlayList = null">
                  <v-icon class="white--text">keyboard_arrow_left</v-icon>
                </v-toolbar-side-icon>
                <v-toolbar-title>
                  {{ selectedPlayList ? `Плейлист: ${selectedPlayList.title}` : 'Плейлисты' }}
                </v-toolbar-title>                
              </v-toolbar>
              <v-divider></v-divider>
              
              <template v-if="!selectedPlayList">
                <v-list dense>
                  <div v-if="!playlists.length" class="text-xs-center pa-2">
                    Список пуст...
                  </div>
                  <template v-else v-for="(playlist, i) in playlists">
                    <v-list-tile :key="playlist.id" @click="selectedPlayList = playlist">
                      <v-list-tile-content>
                        <v-list-tile-title>{{ playlist.title }}</v-list-tile-title>
                      </v-list-tile-content>
                      <v-list-tile-action>
                        <v-tooltip left>
                          <v-btn slot="activator" @click.stop="deletePlaylist(playlist.id)" flat icon ripples color="red">
                            <v-icon small>close</v-icon>
                          </v-btn>
                          <span>Удалить плейлист</span>
                        </v-tooltip>
                      </v-list-tile-action>
                    </v-list-tile>
                    <v-divider v-if="i < playlists.length - 1" />
                  </template>
                </v-list>
              </template>

              <template v-else>
                <v-list dense>
                  <draggable v-model="selectedPlayList.list" :options="{ animation: 150 }" @end="updatePlaylist">
                    <transition-group name="list-complete">
                      <template v-for="(video, i) in selectedPlayList.list">
                        <v-list-tile class="list-item" avatar :key="video.id" @click="">
                          <div class="v-inline-flex fill-height text-xs-center pa-1" style="line-height: 3;min-width: 30px;max-width: 30px;">
                            {{ i + 1 }}.
                          </div>
                          <div class="v-inline-flex fill-height pa-1">
                            <img :src="video.thumbnails.medium.url" class="fill-height">
                          </div>
                          <v-list-tile-content>
                            <v-list-tile-title>{{ video.title }}</v-list-tile-title>
                          </v-list-tile-content>
                          <v-list-tile-action v-if="selectedPlayList.list.length > 1">
                            <v-tooltip left>
                              <v-btn slot="activator" @click="deleteVideo(video.id)" flat icon ripples color="red">
                                <v-icon small>close</v-icon>
                              </v-btn>
                              <span>Удалить из плейлиста</span>
                            </v-tooltip>
                          </v-list-tile-action>
                        </v-list-tile>
                      </template>
                    </transition-group>
                  </draggable>
                </v-list>
              </template>
            </v-card>
          </v-flex>
        </v-layout>       
    </v-flex>
  </v-layout>
</template>

<script>
  import WarningModal from '@/components/system/WarningModal'
  import draggable from 'vuedraggable'

  export default {
    components: { WarningModal, draggable },

    data () {
      return {
        selectedPlayList: null,
        playlists: []
      }
    },

    firestore () {
      return {
        playlists: this.$db.collection(`guilds/${this.currentGuild.id}/playlists`).orderBy('created_at', 'desc')
      }
    },

    computed: {
      currentGuild () {
        return this.$store.state.currentGuild
      },
      actualDocRefs () {
        if (!this.selectedPlayList) return []
        return this.selectedPlayList.list.map(item => this.$db.doc(`guilds/${this.currentGuild.id}/videos/${item.id}`))
      }
    },

    watch: {
      actualDocRefs (newVal) {
        this.updatePlaylist()
      },
      currentGuild (newVal, oldVal) {
        this.selectedPlayList = null
      }
    },

    methods: {
      deleteVideo (id) {
        if (!this.selectedPlayList) return false
        let { list } = this.selectedPlayList

        this.$set(this.selectedPlayList, 'list', list.filter(item => item.id !== id))
      },

      deletePlaylist (id) {
        this.$db.doc(`guilds/${this.currentGuild.id}/playlists/${id}`).delete().then(() => {
          console.log(`Deleted document with ID: ${id}`)
        }).catch(console.error)
      },

      updatePlaylist () {
        if (!this.selectedPlayList) return false
        let { id } = this.selectedPlayList

        this.$db.doc(`guilds/${this.currentGuild.id}/playlists/${id}`).update({
          list: this.actualDocRefs
        }).catch(console.error)
      }
    }
  }
</script>
