<template>
  <v-layout row wrap class="searchPage">
    <v-flex xs12>
      <v-card>
        <v-toolbar dark dense flat color="primary" height="56" class="px-2">
          <v-text-field v-model="search" light label="Поиск" @input="_onInputSearch" @keyup.enter="getData()" solo prepend-icon="search"></v-text-field>
          <!-- <v-menu offset-y>
            <v-btn icon slot="activator">
              <v-icon medium>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile @click="">
                <v-list-tile-title>Информация</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu> -->
        </v-toolbar>
      </v-card>   
    </v-flex>
    <v-flex xs12 v-if="pageInfo.totalResults">
      <v-layout align-center class="ma-0">
        <v-flex xs6>
          <span class="subtitle">Найдено <b>{{ pageInfo.totalResults }}</b> видео</span>
        </v-flex>
        <v-spacer />
        <v-flex xs6 class="text-xs-right" v-if="list.length >= pageInfo.totalResults">
          <v-btn color="primary" @click="addToSelected(list)" class="ma-0">Добавить все записи в плейлист</v-btn>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12 d-flex row class="px-0">
      <v-layout row wrap class="ma-0">
        <template v-for="item in list">
          <v-flex :key="item.id" xs12 sm6 md4>
            <v-card :href="item.url" target="_blank" class="fill-height search-item" height="">
              <v-card-media :src="item.thumbnails.medium.url" :height="180">
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 align-end d-flex>
                      <span class="subtitle white--text">{{ item.title }}</span>
                    </v-flex>
                  </v-layout>
                </v-container>
                <div class="play-overlay">
                  <v-layout fill-height justify-center align-center class="ma-0">
                    <v-flex xs12 align-end d-flex>
                      <v-icon large color="white">play_arrow</v-icon>
                    </v-flex>
                  </v-layout>
                </div>
              </v-card-media>
              <v-card-actions>
                  <!-- <v-btn>
                    <v-icon>play_arrow</v-icon> Посмотреть
                  </v-btn> -->
                  <v-spacer></v-spacer>

                  <v-btn flat color="success" v-if="checkSelected(item)" @click.prevent="dialog = true">
                    Отмечен на добавление&nbsp;<v-icon>playlist_add_check</v-icon>
                  </v-btn> 
                  <v-btn flat color="primary" v-else @click.prevent="addToSelected(item)">
                    Добавить в плейлист&nbsp;<v-icon>playlist_add</v-icon>
                  </v-btn>
                </v-card-actions>
            </v-card>
          </v-flex>
        </template>
      </v-layout>
    </v-flex>
    <v-flex xs12 v-if="!!nextPageToken">
      <infinite-loading @infinite="loadMore" :distance="400">
          <v-progress-circular slot="spinner" indeterminate color="primary" />
          <span slot="no-more"></span>
          <span slot="no-results"></span>
      </infinite-loading>
    </v-flex>

    <AddToPlayListModal ref="addToPlayListModal" :list.sync="selectedItems" />
    
    <WarningModal ref="warningModal" max-width="600" ok-btn-text="Сохранить" cancel-btn-text="Добавить еще">
      <span slot="title">Видео отмечено на добавление в плейлист.</span>
      <v-card-text slot="text">
        <p class="body-2">
          <span class="d-block">Всего отмечено: {{ selectedItems.length }} видео</span>
          <template v-if="!!lastAdded">
            <span class="d-block">Последнее добавленное видео:</span>
            <span class="d-block"><a :href="lastAdded.url" target="_blank">{{ lastAdded.title }}</a></span>
          </template>
        </p>
        <p class="title text-xs-center">Желаете поискать еще видозаписей?</p>
      </v-card-text>
    </WarningModal>
  </v-layout>
</template>

<script>
  import { debounce } from 'lodash'
  import InfiniteLoading from 'vue-infinite-loading'
  import * as youtube from '@/utils/youtube'
  import AddToPlayListModal from '@/components/system/AddToPlayListModal'
  import WarningModal from '@/components/system/WarningModal'

  export default {
    components: { InfiniteLoading, AddToPlayListModal, WarningModal },
    data () {
      return {
        tabs: null,
        fab: false,
        dialog: false,
        dialogError: false,
        warning: false,
        search: '',
        list: [],
        pageInfo: {},
        nextPageToken: null,

        playlists: [],
        selectedItems: [],
        lastAdded: null,
        selectedPlaylists: [],
        newPlaylistTitle: null,

        processing: false
      }
    },
    methods: {
      _onInputSearch: debounce(function () {
        this.getData(this.search)
      }, 200),

      getData (search, options = {}) {
        return youtube.get(search, options).then(({ list, pageInfo, nextPageToken }) => {
          let existedIDs = this.list.map(v => v.id)
          let toMerge = list.filter(v => !existedIDs.includes(v.id))

          this.list = options.pageToken ? [ ...this.list, ...toMerge ] : list
          this.pageInfo = pageInfo
          this.nextPageToken = nextPageToken
        })
      },

      async loadMore ($state) {
        if (!this.nextPageToken) {
          $state.complete()
          return false
        }
        await this.getData(this.search, { pageToken: this.nextPageToken })
        $state.loaded()
      },

      checkSelected (item) {
        return this.selectedItems.filter(e => e.id === item.id).length > 0
      },

      addToSelected (item) {
        if (!Array.isArray(item)) {
          this.selectedItems.push(item)
          this.lastAdded = item
        } else {
          this.selectedItems = [ ...this.selectedItems, ...item ]
          this.lastAdded = item[item.length - 1]
        }

        this.$nextTick(() => {
          this.$refs.warningModal.show().then(confirm => {
            if (confirm) {
              this.$refs.addToPlayListModal.show()
            }
          })
        })
      }
    },

    created () {
      this.getData('')
    }
  }
</script>
