<template>
  <v-layout>
    <v-flex xs12>
        <div class="headline mb-2">Все добавленные видеозаписи</div>

        <v-card class="mb-2">
          <v-toolbar dark dense flat color="primary" height="56" class="px-2">
            <v-text-field v-model="search" light label="Фильтр по названию видео" solo prepend-icon="search"></v-text-field>              
          </v-toolbar>
        </v-card>   
        
        <div v-if="!currentPage || !currentPage.length" class="text-xs-center pa-2">
          Список пуст...
        </div>
        <template v-for="(video, i) in currentPage">
          <v-card class="mb-2" :key="video.id">
            <v-container fluid grid-list-md>
              <v-layout row align-content-start>
                <v-flex style="max-width: 143px; min-width: 130px;">
                  <v-card-media
                    :src="video.thumbnails.medium.url"
                    height="100%"
                    contain
                  ></v-card-media>
                </v-flex>
                <v-flex>
                  <div class="body-2">{{ video.title }}</div>
                  <div class="caption">Добавлено: {{ video.created_at }}</div>
                  <v-card-actions class="px-0 pb-0">
                    <v-tooltip class="ml-0" right>
                      <v-btn slot="activator" icon small class="ml-0"
                        @click="toggleItem(video)" 
                        :color="checkItem(video.id) ? 'error' : 'primary'"
                      >
                        <v-icon small :class="!checkItem(video.id) ? 'rotate-45' : null" >close</v-icon>
                      </v-btn>
                      <span>{{ checkItem(video.id) ? 'Отменить' : 'Выбрать' }}</span>
                    </v-tooltip>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </template>

        <div v-if="totalPages > 1" class="text-xs-center">
          <v-pagination :length="totalPages" v-model="page" :total-visible="7"></v-pagination>
        </div>

        <v-fab-transition>
          <v-speed-dial
            v-if="selectedVideos.length"
            v-model="fab"
            fixed
            bottom
            right
            direction="top"
            open-on-hover
            transition="slide-x-reverse-transition"
          >
            <v-btn slot="activator" color="blue darken-2" dark fab hover v-model="fab">
              <v-icon>settings</v-icon>
              <v-icon>close</v-icon>
            </v-btn>
            <v-tooltip left>
              <v-btn slot="activator" @click="addToPlaylist" fab dark small color="green"><v-icon>add</v-icon></v-btn>
              <span>Добавить в плейлист</span>
            </v-tooltip>
            <v-tooltip left>
              <v-btn slot="activator" @click="deleteVideos" fab dark small color="red"><v-icon>delete</v-icon></v-btn>
              <span>Удалить</span>
            </v-tooltip>
          </v-speed-dial>
        </v-fab-transition>         

        <AddToPlayListModal ref="addToPlayListModal" :list.sync="selectedVideos" />

        <WarningModal ref="warningModal" error-title>
          <v-card-text slot="text" class="text-xs-center">
            Удаленные записи <b>будут удалены</b> <br />из всех плейлистов
          </v-card-text>
        </WarningModal>
    </v-flex>
  </v-layout>
</template>

<script>
  import _ from 'lodash'
  import moment from 'moment'
  import InfiniteLoading from 'vue-infinite-loading'
  import WarningModal from '@/components/system/WarningModal'
  import AddToPlayListModal from '@/components/system/AddToPlayListModal'

  export default {
    components: { InfiniteLoading, WarningModal, AddToPlayListModal },

    data () {
      return {
        fab: false,
        search: null,
        page: 1,
        perPage: 20,
        list: [],
        selectedVideos: [],
        playlists: []
      }
    },

    firestore () {
      return {
        list: this.$db.collection(`guilds/${this.currentGuild.id}/videos`).orderBy('created_at', 'desc'),
        playlists: this.$db.collection(`guilds/${this.currentGuild.id}/playlists`)
      }
    },

    computed: {
      currentGuild () {
        return this.$store.state.currentGuild
      },
      paginatedList () {
        return _.chunk(
          this.list.filter(item => this.isEmptyFilter ? true : (item.title.toLowerCase().includes(this.search.toLowerCase())))
            .map(item => ({ ...item, id: item.id, created_at: this.modifyCreatedAt(item.created_at) })),
          this.perPage
        )
      },
      currentPage () {
        return _.nth(this.paginatedList, this.page - 1)
      },
      totalVideos () {
        return this.list.length
      },
      totalPages () {
        return this.paginatedList.length
      },
      isEmptyFilter () {
        return !this.search || this.search.length <= 0
      }
    },

    methods: {
      addToPlaylist () {
        this.$refs.addToPlayListModal.show()
      },
      deleteVideos () {
        this.$refs.warningModal.show().then(async confirm => {
          if (confirm) {
            let selectedIDs = this.selectedVideos.map(item => item.id)

            await this.playlists.forEach(async playlist => {
              let list = playlist.list.filter(item => !selectedIDs.includes(item.id))

              await this.$db.doc(`guilds/${this.currentGuild.id}/playlists/${playlist.id}`).update({
                list: list.map(item => this.$db.doc(`guilds/${this.currentGuild.id}/videos/${item.id}`))
              })

              console.log('Updated playlist with ID: ', playlist.id)
            })

            await selectedIDs.forEach(async videoId => {
              await this.$db.doc(`guilds/${this.currentGuild.id}/videos/${videoId}`).delete()
              console.log('Deleted videos with ID: ', videoId)
            })
          }
        })
      },
      checkItem (id) {
        return this.selectedVideos.filter(item => item.id === id).length
      },
      toggleItem (video) {
        if (!this.checkItem(video.id)) {
          this.selectedVideos.push(video)
        } else {
          this.selectedVideos = this.selectedVideos.filter(item => item.id !== video.id)
        }
      },
      modifyCreatedAt (t) {
        return moment(new Date(t.seconds * 1000)).format('DD.MM.YYYY HH:mm:ss')
      }
    }
  }
</script>