<template>
  <div v-cloak>
    <v-app id="inspire">
      <v-navigation-drawer v-if="user && currentGuild"
        fixed
        :clipped="isClipped"
        mobile-break-point="960"
        app
        v-model="drawer"
      >
        <v-list>
          <template v-for="item in items">
            <v-list-tile :to="item.to" :key="item.text">
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar
        color="blue darken-3"
        dark
        app
        :clipped-left="isClipped"
        :height="mobileLandscape"
        fixed
      >
        <v-toolbar-side-icon v-if="showToolbarIcon" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
          <v-avatar size="36px">
            <img src="./assets/music-bot-logo.png" alt="" />
          </v-avatar>
          <span>Music Bot</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>

        <v-toolbar-items>
          <LoginBtn flat v-if="!user" />
          <template v-else>
            <GuildChanger @loaded="checkHasGuilds" @updated="checkHasGuilds" :user="user" />
            <UserInfo :user="user" />
          </template>
        </v-toolbar-items>
        
      </v-toolbar>
      <v-content>
        <v-container v-if="!user || !currentGuild" grid-list-md fluid fill-height>
          <v-layout align-center justify-center>
            <v-flex xs12 sm6 md4>
              <LoginBtn v-if="!user" color="primary" />
              <v-card v-if="user && !currentGuild">
                <v-card-title primary-title class="justify-center">
                  <h3 class="headline mb-0">Добро пожаловать!</h3>
                </v-card-title>
                <v-card-text>
                  <p v-if="hasGuilds">Теперь выберите сервер дискорда, для которого вы желаете настроить плейлисты.</p>
                  <p v-else>Теперь вам необходимо добавить бота к себе на сервер, а затем выбрать его.</p>
                </v-card-text>
                <v-card-actions v-if="!hasGuilds">
                  <v-spacer></v-spacer>
                  <v-btn target="_blank" href="https://discordapp.com/api/oauth2/authorize?client_id=381144829570318336&permissions=103939072&redirect_uri=https%3A%2F%2Fmusicbot.brain-dev.com%2Fcallback&scope=bot" class="discord-btn">
                    <img src="/static/discord-logo-w.svg" class="discord-logo-icon mr-2" />
                    Пригласить бота на сервер
                  </v-btn>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
        <v-container v-else grid-list-md fluid>
          <router-view />         

          <ToTopBtn />
        </v-container>
      </v-content>    
    </v-app>
  </div>
</template>

<script>
  import UserInfo from '@/components/system/UserInfo'
  import LoginBtn from '@/components/system/LoginBtn'
  import GuildChanger from '@/components/system/GuildChanger'
  import ToTopBtn from '@/components/system/ToTopBtn'

  export default {
    components: { UserInfo, LoginBtn, GuildChanger, ToTopBtn },
    data: () => ({
      drawer: null,
      hasGuilds: false,
      items: [
        { to: { name: 'search' }, icon: 'search', text: 'Добавить видео' },
        { to: { name: 'plalists' }, icon: 'featured_play_list', text: 'Плейлисты' },
        { to: { name: 'videos' }, icon: 'video_library', text: 'Все видео' }
        /* ,
        { to: { name: 'settings' }, icon: 'settings', text: 'Настройки' } */
      ]
    }),

    computed: {
      user () {
        return this.$store.state.user
      },

      currentGuild () {
        return this.$store.state.currentGuild
      },

      isClipped () {
        return this.$vuetify.breakpoint.mdAndUp
      },

      showToolbarIcon () {
        return !this.$vuetify.breakpoint.mdAndUp && (this.$vuetify.breakpoint.smAndUp || this.$vuetify.breakpoint.smAndDown)
      },

      mobileLandscape () {
        return this.$vuetify.breakpoint.width > this.$vuetify.breakpoint.height ? 56 : undefined
      }
    },

    methods: {
      checkHasGuilds (hasGuilds) {
        this.hasGuilds = hasGuilds
      }
    },

    mounted () {
      this.$auth.onAuthStateChanged(user => {
        this.$store.commit('updateUser', user)
      })
    }
  }
</script>

<style lang="sass">
  @import "./assets/scss/main.scss"
</style>
