<template>
  <v-dialog v-model="dialog" persistent width="600px">
    <v-card>
      <v-card-title class="primary white--text  justify-center title mb-0">
        Добавление видеозаписей в плейлист
      </v-card-title>
      <v-card-text class="pt-0 px-0">
        <v-layout row wrap>
          <v-flex xs12 v-if="countPlaylists">              
            <v-tabs ref="dialogTabs" color="primary" class="mb-0 d-block" fixed-tabs v-model="tabs">
              <v-tabs-slider color="white"></v-tabs-slider>
              <v-tab href="#d-tab-1"><span class="white--text">Выбрать существующие</span></v-tab>
              <v-tab href="#d-tab-2"><span class="white--text">Новый плейлист</span></v-tab>                
            </v-tabs>            
            <v-tabs-items v-model="tabs" class="pt-3 px-3">
              <v-tab-item id="d-tab-1">
                <v-select
                  label="Выберите плейлисты, в которые хотите добавить"
                  :items="playlists"
                  v-model="selectedPlaylists"
                  item-text="title"
                  item-value="id"
                  multiple
                  chips
                  max-height="auto"
                  autocomplete
                >
                  <template slot="selection" slot-scope="data">
                    <v-chip
                      close
                      @input="data.parent.selectItem(data.item)"
                      :selected="data.selected"
                      class="chip--select-multi"
                      :key="data.item.id"
                    >
                      {{ data.item.title }}
                    </v-chip>
                  </template>
                </v-select>
              </v-tab-item>
              <v-tab-item id="d-tab-2">
                <p class="subtitle ">
                  Решили создать новый плейлист?. <br />Укажите название и выбранные видозаписи будут добавлены в новый плейлист.
                </p>
                <v-text-field
                  prepend-icon="playlist_add"
                  label="Назовите плейлист"
                  v-model="newPlaylistTitle"
                ></v-text-field>
              </v-tab-item>
            </v-tabs-items>
          </v-flex>
          
          <v-flex xs12 v-else>
            <v-alert type="info" :value="true">
              Вы еще не создали ниодного плейлиста. <br />Укажите название и выбранные видозаписи будут добавлены в новый плейлист.
            </v-alert>
            <v-text-field
              prepend-icon="playlist_add"
              label="Назовите плейлист"
              v-model="newPlaylistTitle"
            ></v-text-field>
          </v-flex>

          <v-flex xs12>
            <p class="subtitle text-xs-center">Всего будет добавлно в плейлист: {{ selectedItems.length }} видео</p>
          </v-flex>

          <v-flex xs12>
            <v-alert type="error" dismissible @input="dialogError = false" :value="!!dialogError">
              {{ dialogError }}                
            </v-alert>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-btn flat color="error" :disabled="processing" @click="answer(false)">Отменить</v-btn>
        <v-spacer></v-spacer>
        <v-btn color="primary" :loading="processing" @click="answer(true)">Добавить</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: {
      list: {
        type: Array,
        required: true
      }
    },
    data: () => ({
      tabs: null,
      dialog: false,
      processing: false,
      dialogError: false,
      playlists: [],
      selectedItems: [],
      selectedPlaylists: [],
      newPlaylistTitle: null,

      resolve: null
    }),

    firestore () {
      return {
        playlists: this.$db.collection(`guilds/${this.currentGuild.id}/playlists`).orderBy('created_at', 'desc')
      }
    },
    computed: {
      currentGuild () {
        return this.$store.state.currentGuild
      },
      countPlaylists () {
        return this.playlists.length
      }
    },
    watch: {
      selectedItems: function (newVal) {
        this.$emit('update:list', newVal)
      },
      tabs: 'recalcTabs',
      dialog: 'recalcTabs'
    },
    methods: {
      show () {
        return new Promise((resolve, reject) => {
          this.dialog = true
          this.selectedItems = this.list
          this.resolve = resolve
        })
      },

      async answer (confirm) {
        let { resolve } = this
        if (typeof resolve === 'function') {
          if (confirm) {
            await this.addToPlaylists()
          } else {
            this.clearSelectedList()
          }
          resolve(confirm)
        }
        this.resolve = null
      },

      recalcTabs () {
        if (this.$refs.dialogTabs) {
          this.$refs.dialogTabs.findActiveLink()
          this.$refs.dialogTabs.onResize()
        }
      },

      clearSelectedList () {
        this.dialog = false
        this.$nextTick(() => {
          this.processing = false
          this.tabs = null
          this.selectedItems = []
          this.selectedPlaylists = []
          this.newPlaylistTitle = null
        })
      },

      async checkExistVideos () {
        let list = [ ...this.selectedItems ]

        while (list.length) {
          let { id, ...item } = list.pop()
          let snapshot = await this.$db.doc(`guilds/${this.currentGuild.id}/videos/${id}`).get()

          if (snapshot.exists) {
            await snapshot.ref.update(item)
            console.log('Video updated with ID: ', id)
          } else {
            await snapshot.ref.set({ ...item, created_at: new Date() })
            console.log('Video created with ID: ', id)
          }
        }
      },

      async createPlaylist () {
        let list = [ ...this.selectedItems ]

        let docRef = await this.$db.collection(`guilds/${this.currentGuild.id}/playlists`).add({
          title: this.newPlaylistTitle,
          created_at: new Date(),
          list: list.map(item => this.$db.doc(`guilds/${this.currentGuild.id}/videos/${item.id}`))
        })

        console.log('Playlist created with ID: ', docRef.id)
      },

      async updatePlaylist () {
        while (this.selectedPlaylists.length) {
          let playlistId = this.selectedPlaylists.pop()
          let playlist = this.playlists.filter(({ id }) => id === playlistId).pop()
          let videosList = playlist.list.map(({ id }) => id)
          let selectedList = this.selectedItems.filter(({ id }) => !videosList.includes(id))
          let list = [ ...playlist.list, ...selectedList ]

          await this.$db.doc(`guilds/${this.currentGuild.id}/playlists/${playlist.id}`).update({
            list: list.map(item => this.$db.doc(`guilds/${this.currentGuild.id}/videos/${item.id}`))
          })

          console.log(`Updated playlist with ID: ${playlist.id}`)
        }
      },

      async addToPlaylists () {
        if (!this.selectedItems.length) return this.answer(false)
        if (!this.newPlaylistTitle && !this.selectedPlaylists.length) {
          this.dialogError = this.countPlaylists ? 'Вы не выбрали ни одного плейлиста из списа.' : 'Вы не указали название плейлиста.'
          return this.answer(false)
        }

        this.processing = true
        await this.checkExistVideos()
        if (this.newPlaylistTitle) {
          await this.createPlaylist()
        } else if (this.selectedPlaylists.length) {
          await this.updatePlaylist()
        }

        this.$nextTick(() => {
          this.clearSelectedList()
        })
      }
    },
    created () {
      this.selectedItems = this.list
    }
  }
</script>