<template>
  <v-menu offset-y :nudge-top="-5" :open-on-click="!loading" left class="guildsBlock">
    <v-btn flat slot="activator" :loading="loading">        
      <span class="mr-2">
        {{ currentGuild ? currentGuild.name : 'Выберите сервер' }}
      </span>
      <v-avatar v-if="icon" size="36px">
        <img :src="icon" alt="" />
      </v-avatar>
      <v-icon class="white--text">expand_more</v-icon>
    </v-btn>                                
    <v-list dense :two-line="!hasGuilds">
      <template v-if="hasGuilds">
        <v-list-tile avatar v-for="guild in guildsList" :key="guild.id" :disabled="currentGuild && guild.id == currentGuild.id" @click="choseGuild(guild)">          
          <v-list-tile-avatar class="guildIcon" size="30">
            <img :src="guildIcon(guild)" />
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>{{ guild.name }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
      
      <v-list-tile v-else>
        <v-list-tile-content>
          <v-list-tile-title>Список пуст</v-list-tile-title>
          <v-list-tile-sub-title>Пригласите бота на сервер</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-divider></v-divider>
      <v-list-tile avatar target="_blank" href="https://discordapp.com/api/oauth2/authorize?client_id=381144829570318336&permissions=103939072&redirect_uri=https%3A%2F%2Fmusicbot.brain-dev.com%2Fcallback&scope=bot">
        <v-list-tile-avatar class="guildIcon" size="30">
          <v-icon class="green lighten-2 white--text">add</v-icon>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>Добавить сервер</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>            

    </v-list>
  </v-menu>
</template>

<script>
  import _ from 'lodash'

  export default {
    props: {
      user: {
        type: Object,
        required: true
      }
    },

    data: () => ({
      allGuilds: [],
      userGuilds: []
    }),

    dontReBind: true,

    firestore () {
      return {
        allGuilds: this.$db.collection('connectedGuilds'),
        userGuilds: this.$db.collection(`users/${this.user.uid}/guilds`)
      }
    },

    computed: {
      loading () {
        return !this.userGuilds.length && !this.allGuilds.length
      },

      hasGuilds () {
        return !!this.guildsList.length
      },

      currentGuild () {
        return this.$store.state.currentGuild
      },

      icon () {
        return this.currentGuild ? this.guildIcon(this.currentGuild) : null
      },

      guildsList () {
        if (!this.userGuilds.length) {
          return []
        }

        let allGuildIDs = this.allGuilds.map(g => g.id)
        return this.userGuilds.filter(guild => allGuildIDs.includes(guild.id))
      }
    },

    watch: {
      hasGuilds: function (newVal, oldVal) {
        if (newVal) {
          let savedUid = localStorage.getItem('chosenGuild')
          if (savedUid) {
            this.choseGuild(_.first(this.guildsList.filter(g => savedUid === g.id)))
          }
        }
      },

      loading: function (newVal, oldVal) {
        if (!newVal && oldVal) {
          this.$emit('loaded', this.hasGuilds)
        }
      },

      guildsList: function (newVal, oldVal) {
        if (newVal.length !== oldVal.length) {
          this.$emit('updated', this.hasGuilds)
        }

        let guildsDiff = _.difference(newVal, oldVal)
        let isAdded = newVal.length > oldVal.length

        if (isAdded) {
          if (newVal.length > 0 && oldVal.length > 0) {
            this.choseGuild(_.first(guildsDiff))
          }
        } else {
          let updatedIDs = newVal.map(g => g.id)
          if (this.currentGuild && !updatedIDs.includes(this.currentGuild.id)) {
            this.choseGuild(null)
          }
        }
      }
    },

    methods: {
      guildIcon ({id, icon}) {
        return `https://cdn.discordapp.com/icons/${id}/${icon}.png`
      },

      choseGuild (guild) {
        this.$store.commit('updateCurrentGuild', guild)

        if (guild) {
          localStorage.setItem('chosenGuild', guild.id)
          this.$root.$emit('currentGuildChanged')
        } else {
          localStorage.removeItem('chosenGuild')
        }
      }
    }
  }
</script>
