<template>
  <v-btn :flat="flat" :color="color" :loading="loading" block @click="openAuthWindow">Войти</v-btn>
</template>

<script>
  export default {
    props: ['flat', 'color'],
    data: () => ({
      loading: false
    }),

    methods: {
      openAuthWindow () {
        this.$root.$emit('isLoading', true)
        let win = window.open('/redirect', 'firebaseAuth', 'height=700,width=600')
        let timer = setInterval(() => {
          if (win.closed) {
            clearInterval(timer)
            this.$root.$emit('isLoading', false)
          }
        }, 1000)
      },

      changeLoading (value) {
        console.log('emit')
        this.loading = value
      }
    },

    mounted () {
      this.$root.$on('isLoading', this.changeLoading)
    },

    beforeDestroy () {
      this.$root.$off('isLoading', this.changeLoading)
    }
  }
</script>