<template>
  <v-menu offset-y :nudge-top="-5" left class="authBlock">
    <v-btn flat slot="activator">
      <span class="mr-2" v-html="user.displayName"></span>
      <v-avatar size="36px">
        <img :src="user.photoURL" alt="" />
      </v-avatar>
    </v-btn>                                
    <v-list dense>
      <v-list-tile v-for="item in profileMenu" :key="item.title" @click="">
        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
      </v-list-tile>
      <v-list-tile @click="signOut">
        <v-list-tile-title>Выход</v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<script>
  export default {
    props: ['user'],
    data: () => ({
      profileMenu: []
    }),

    methods: {
      signOut () {
        this.$auth.signOut()
      }
    }
  }
</script>
