<template>  
  <v-dialog v-model="dialog" persistent :max-width="maxWidth">
    <v-card>
      <v-card-title :class="['headline','justify-center',(errorTitle?'error white--text':null)]">
        <slot name="title">Вы уверены?</slot>
      </v-card-title>      
      <slot name="text"></slot>
      <v-card-actions>
        <v-btn small color="primary" @click="answer(false)">{{ cancelBtnText }}</v-btn>
        <v-spacer></v-spacer>
        <v-btn small color="success" @click="answer(true)">{{ okBtnText }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: {
      okBtnText: {
        type: String,
        default: 'ОК'
      },
      cancelBtnText: {
        type: String,
        default: 'Отмена'
      },
      errorTitle: {
        type: Boolean,
        default: false
      },
      maxWidth: {
        type: [String, Number],
        default: 290
      }
    },
    data: () => ({
      dialog: false,
      resolve: null
    }),

    methods: {
      show () {
        return new Promise((resolve, reject) => {
          this.dialog = true
          this.resolve = resolve
        })
      },
      answer (confirm) {
        if (typeof this.resolve === 'function') {
          this.resolve(confirm)
        }
        this.dialog = false
        this.resolve = null
      }
    }
  }
</script>